*{
    background-color:rgb(82, 155, 82);
}
h1{
    color: white;
    font-size: 50px;
    font-weight:bold;
    width:50%;
    height:auto;
    float:left;
}
.son{
    color:white;
    font-size: 20px;
    width:50%;
    height: auto;
    float: right;
}
.daughter{
    width:100%;
    height:20%
}
/*Mobile devices*/
@media (min-width:320px) and (max-width:480px){
    h1{
        color: white;
        font-size: 50px;
        font-weight:bold;
        width:50%;
        height:auto;
        float:left;
    }
    .son{
        color:white;
        font-size: 20px;
        width:50%;
        height: auto;
        float: right;
    }
    .daughter{
        width:100%;
        height:10%   
}
}
/*Tablet devices*/
@media (min-width:481px) and (max-width:768px){
    h1{
        color: white;
        font-size: 50px;
        font-weight:bold;
        width:50%;
        height:auto;
        float:left;
    }
    .son{
        color:white;
        font-size: 20px;
        width:50%;
        height: auto;
        float: right;
    }
    .daughter{
        width:100%;
        height:10%   
}
}
/*Laptop devices*/
@media (min-width:769px) and (max-width:1024px){
    h1{
        color: white;
        font-size: 50px;
        font-weight:bold;
        width:50%;
        height:auto;
        float:left;
    }
    .son{
        color:white;
        font-size: 20px;
        width:50%;
        height: auto;
        float: right;
    }
    .daughter{
        width:100%;
        height:10%   
}
}