.fourth{
    background-color: rgb(109, 151, 115);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
  }
 
  .t4 {
    color: white;
    width: 50%;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    order: 2;
  }
 
  .i4 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    order: 1;
  }
 
  .i4 img {
    max-width: 100%;
    height: auto;
    display: block;
  }






